header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    box-sizing: border-box;
}


.logo-link {
    text-decoration: none;
    color: #000000;
    font-size: 3rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347;
}

