header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 8rem;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo a {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #8B0000;
}

.logo a span{
    color: #FFAEC0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #FFAEC0;
}