/*Css principal*/

/*Início*/
#inicio {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffbfc;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 2em;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 50%;
}

.info p:first-child {
    color: #8B0000;
    font-weight: bold;
    font-size: 0.8em;
    background-color: #FFE4E1;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 0.5em 1em;
    border-radius: 2em;
    width: fit-content;
    span {
        color: #FFAEC0;
        font-size: 1em;
        margin-right: 0.5em;
    }
}

.info h1 {
    font-size: 3em;
    color: #8B0000;
}

.info p:nth-child(3) {
    font-size: 2em;
    color: #262626;
    line-height: 1.5em;
    font-weight: 400;
}

.info p:nth-child(4) {
    font-size: 1em;
    color: #262626;
    line-height: 1.5em;
    font-weight: 400;
}

.btn-info {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.btn-info a {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold;
    transition: all 0.3s ease;
    padding: 1em 1.5em;
    align-items: center;
    text-align: center;
}

.btn-info a:first-child {
    background-color: #8B0000;
    color: #FFFFFF;
}

.btn-info a:last-child {
    background-color: #FFAEC0;
    color: #8B0000;
}

.btn-info a:first-child:hover {
    background-color: #8B0000;
    color: #FFFFFF;
    transform: translateY(-2px);
}

.btn-info a:last-child:hover {
    background-color: #FFAEC0;
    color: #8B0000;
    transform: translateY(-2px);
}

.code-card {
  background: #1A0A0E;      /* fundo escuro */
  border-radius: 14px;
  padding: 28px;
  width: 20em;
  font-family: 'Courier New', monospace;  /* fonte de código */
  font-size: 1.3em;
  line-height: 1.9;
}

/* os três pontinhos */
.dots {
  margin-bottom: 10px;
}

.dots span {
  width: 15px; height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}
.red    { background: #FF5F57; }
.yellow { background: #FEBC2E; }
.green-dot { background: #28C840; }

/* cores do "syntax highlight" */
.pink  { color: #FFAEC0; }   /* palavras-chave */
.green { color: #A8D8A8; }   /* strings */
.white { color: #E8E8E8; }   /* variáveis */
.gray  { color: #888888; }   /* símbolos */

/*Sobre mim*/
#sobre {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fffbfc;
    margin-left: 8em;
    margin-right: 8em;
}

.title-sbr {
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}

 .title-sbr p {
    font-size: 1em;
    color: #8B0000;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.title-sbr h2 {
    font-size: 3em;
    color: black;
    span {
        color: #8B0000;
    }
}

.container-sbr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
    gap: 10em;
}

.texto-sbr {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.texto-sbr p {
    font-size: 1.2em;
    color: #262626;
    font-weight: 400;
    span{
        color: #8B0000;
        font-weight: bold;
    }
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timeline-item {
  display: grid;
  grid-template-columns: 20px 1fr; 
  gap: 1.2em;
}

.linha-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ponto {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #8B0000;
  border: 2px solid #FFE4E1;
  flex-shrink: 0;
  margin-top: 4px;
}

.barra {
  width: 2px;
  flex: 1; 
  background-color: #FFD6E0;
  margin-top: 4px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  padding-bottom: 2em;
}

.conteudo .ano {
  font-size: 1em;
  color: #8B0000;
  font-weight: bold;
  text-transform: uppercase;
}

.conteudo .titulo {
  font-size: 1.2em;
  color: #262626;
  font-weight: bold;
}

.conteudo .nome {
  font-size: 1em;
  color: #262626;
  font-weight: 600;
}

.conteudo .desc {
  font-size: 1em;
  color: #262626;
  font-weight: 400;
}

/*Ferramentas*/
#ferramentas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    background-color: #fffbfc;
}

.container-ferramentas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 2em;
}

.title-ferramentas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    gap: 0.5em;
}

.title-ferramentas p {
    font-size: 1em;
    color: #8B0000;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.title-ferramentas h2 {
    font-size: 3em;
    color: black;
    span {
        color: #8B0000;
    }
}

.ferramentas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 2em;
    width: 100%;
    justify-items: center;
}

.ferramenta-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    width: 100%;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ferramenta-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.ferramenta-item p {
    font-size: 1em;
    color: #262626;
    font-weight: 500;
}

/*Projetos*/
#projetos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fffbfc;
    margin-top: 6em;
    margin-bottom: 6em;
}

.container-projetos {
    display: flex;
    flex-direction: column;
    margin-left: 8em;
    margin-right: 8em;
    text-align: left;
    gap: 2em;
}


.title-projetos {
    margin-bottom: 2em;
}

.title-projetos p {
    font-size: 1em;
    color: #8B0000;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.title-projetos h2 {
    font-size: 3em;
    color: black;
    span {
        color: #8B0000;
    }
}

.projetos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;
}

.projeto-item {
    background-color: #fff;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projeto-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.projeto-item img {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 1em;
    object-fit: cover;
}

.projeto-item h3 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
}

.projeto-item p {
    font-size: 0.8em;
    color: #262626;
    font-weight: 400;
}

.projeto-item .btn-projeto {
    margin-top: 1em;
    display: flex;
    gap: 0.5em;
}

.projeto-item .btn-projeto a {
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 0.8em;
    transition: all 0.3s ease;
    padding: 0.5em 1em;
    align-items: center;
    text-align: center;
}

.projeto-item .btn-projeto a:first-child {
    background-color: #8B0000;
    color: #FFFFFF;
}

.projeto-item .btn-projeto a:last-child {
    background-color: #FFAEC0;
    color: #8B0000;
}

/*Contato*/
#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8B0000;
    padding: 4em 0;

}

.container-contato {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    gap: 2em;
}

.title-contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    gap: 1.3em;
}

.title-contato p:nth-of-type(1) {
    font-size: 1em;
    color: #FFAEC0;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.title-contato h2 {
    font-size: 3em;
    color: #FFFFFF;
    text-align: center; 
}

.title-contato p:nth-of-type(2) {
    font-size: 1em;
    color: #ffaec0;
    font-weight: 400;
    text-align: center;
}

.title-contato a {
    text-decoration: none;
    border-radius: 0.5em;
    font-weight: bold;
    font-size: 1em;
    transition: all 0.3s ease;
    padding: 0.8em 1em;
    align-items: center;
    text-align: center;
    background-color: #FFAEC0;
    color: #8B0000;
}

.redes-sociais {
    display: flex;
    gap: 1em;
    margin-top: 2em;
}

.redes-sociais a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: 500;
    background-color: #891616;
    border-radius: 0.5em;
    border: 2px solid #a83131;
    padding: 0.5em 1em;

}

.redes-sociais a:first-child::before {
    font-family: "bootstrap-icons";
    content: "\F472";
    margin-right: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}

.redes-sociais a:nth-of-type(2)::before {
    font-family: "bootstrap-icons";
    content: "\F3ED";
    margin-right: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}
 
.redes-sociais a:last-child::before {
    font-family: "bootstrap-icons";
    content: "\F300";
    margin-right: 8px;
    font-size: 1.2rem;
    vertical-align: middle;
}


@media (max-width: 768px) {
    #inicio {
        height: auto;
        padding: 8em 1.5em 4em;
    }

    .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .info {
        width: 100%;
        align-items: center;
    }

    .info h1 {
        font-size: 2em;
    }

    .info p:nth-child(3) {
        font-size: 1.4em;
    }

    .btn-info {
        flex-direction: column;
        width: 100%;
    }

    .btn-info a {
        text-align: center;
    }

    .code-card {
        display: none;
    }

    #sobre {
        height: auto;
        margin: 0;
        padding: 5em 1.5em 4em;
    }

    .container-sbr {
        flex-direction: column;
        gap: 3em;
    }

    .title-sbr h2 {
        font-size: 2em;
    }

    #ferramentas {
        height: auto;
        margin-top: 0;
        padding: 4em 1.5em;
    }

    .title-ferramentas h2 {
        font-size: 2em;
        text-align: center;
    }

    .ferramentas-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    #projetos {
        height: auto;
        margin-top: 0;
        padding: 4em 0;
    }

    .container-projetos {
        margin-left: 1.5em;
        margin-right: 1.5em;
    }

    .title-projetos h2 {
        font-size: 2em;
    }

    .projetos-grid {
        grid-template-columns: 1fr;
    }

    #contato {
        padding: 4em 1.5em;
    }

    .title-contato h2 {
        font-size: 2em;
    }

    .redes-sociais {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 480px) {
    .ferramentas-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .info h1 {
        font-size: 1.8em;
    }
}